@import '../../styles/colors.scss';

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    overflow: hidden;
    position: relative;
    &-block{
        position: relative; // This allows it to sit above the background
        z-index: 1; // Ensure this content is above the background
        color: white; // Make sure the text is readable
        font-size: 2rem; // Adjust font size as needed
        text-align: center; // Center the text
        display: flex; // Use flexbox for centering
        justify-content: center; // Center horizontally
        align-items: center; // Center vertically
        height: 100%; // Full height to center vertically
    }
}