$background: #1C1B1B;
$text-main: #ffff;
$text-addon: #d2d6dc;
$hover: #85BCA8;
$blur: #494646;
$text-gradient: linear-gradient(-30deg, #1C1B1B, #abc9e9);
$block-gradient: linear-gradient(-30deg, #0b3866, #95f9c3);